@import "../../layouts/theme.scss";
.main-content {
    display: flex;
    flex-direction: column;

    .main-container {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        flex: 1;

        .main-content {
            flex: 1;
        }
    }
}
.footer__main{
    margin:0 !important;
    background-color: $md-primary-color !important;

    .footer__title{
        color: $md-secondary-color;
    }
    .footer__link{
        color: inherit;
        text-decoration: none;
    }
}
