@import "./index.scss";

div .mobile-fix {
  @media (max-width: 360px - 1px) {
    padding-left: 0;
    padding-right: 0;
  }
} 


.btn-flags {
  background-color: transparent;
}
.nolineheight {
  line-height: 0;
}
.expertise__container .md-grid .md-grid {
  word-break: break-word;
} 
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
}
.tap-target-content {
  top: 60px;
  right: 0px;
  bottom: 0px;
  left: 60px;
}
.menubars {
  background-color: transparent;
}
.fbpost {
  margin: auto;
}
.fb_iframe_widget span {
  width: auto !important;
}
.fb_iframe_widget iframe {
  width: auto !important;
}
.fixed-action-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 14px;
  height: 50px;
}
i.fa-stack-4x,
i.fa-stack-8x {
  font-size: 8em;
  text-align: center;
  width: 100%;
}
i.fa-stack-4x {
  position: relative;
  left: 0.05em;
  bottom: 1.25em;
  font-size: 7em;
}
.fa-stack-big {
  display: inline-block;
  height: 8em;
  position: relative;
  vertical-align: middle;
  width: 8em;
}
.md-display-3,
.md-display-4,
h3,
.md-title {
  white-space: pre-wrap;
}

.red {
  color: #ff0000;
}
.green {
  color: #00ff00;
}
.blue {
  color: #0000ff;
}
.bgred {
  background-color: #ff0000;
}
.bgwhite {
  background-color: white;
}
.bggreen {
  background-color: #00ff00;
}
.bgblue {
  background-color: #0000ff;
}
.primary {
  color: $md-primary-color;
}
.secondary {
  color: $md-secondary-color;
}
.bgprimary {
  background-color: $md-primary-color;
}
.bgsecondary {
  background-color: $md-secondary-color;
}
/* 

.sidechat {
background-color: $md-primary-color;
  
} 
/*  

  /*
   color: white;
   font-size: 100px; 
   */

.page {
  text-align: center; 

}

.fade-exit .page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  z-index: 2;
}
.fade-exit.fade-exit-active .page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 450ms ease-out;
}

.fade-enter .page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active .page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  transition: opacity 450ms ease-in;
}
.fa.fa-phone-square.h1 {
  font-size: 3em;
}
li {
  margin: 0;
}
.strictly-desktop {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.listChats .card-content {
  padding: 0;
}
.paperOut,
.px2 {
  margin: 10px;
}
.container .md-grid--stacked {
  a:link {
    color: wheat;
  }
}
 
.stop-scroll {
  overflow: hidden;
}

.collapsible li:not(.active) .collapsible-header {
  max-width: 320px;
  float: right;
}

 

.bgg {
  background-color: #f9f9f9;
}
.white {
  color: white;
}
.black {
  color: black;
}

.expertise__container {
  margin-top: 5%;
}

.contact__simon__main {
}

a:link {
  color: $md-primary-color;
  text-decoration: none;
}
