@import "../layouts/theme.scss";
$phone-status-bar-height: 12px;

 
img {    
  max-width: 100%;
  vertical-align: middle;
}
.flex-end {
  flex: 1;
  align-self: flex-end;
}
.rowlink {
  flex-direction: row;
  padding: 10px;
}
.Menulink {
  font-family:sans-serif;
  color: $md-primary-color !important; 
  padding: 6px;
  line-height: 1.4em;
} 
.link1 {
  background-color: $md-primary-color;
  color: $md-secondary-color !important;
}
.link2 {
  background-color: $md-secondary-color;
  color: $md-primary-color !important;
} 
 