@import './theme.scss';

.toolbar-main{
    background-color: $md-white;
    // height: 40px;
    display: flex;
    margin-top: 1%;
    // border: 2px solid black;
    overflow: hidden;
    
    .toolbar-container{
        display: flex;
        // min-width: 100%;
        // border: 2px solid black;
        margin: 0 auto;
        

        .toolbar-menu{
            // display: flex;
            // justify-content: flex-start;
            
            
            .toolbar-link{
                color: $md-primary-color;
                cursor: pointer;
                margin: 0px 5px; 
                font-weight: bold;

            }
            .toolbar-link:hover{
                opacity: 0.5;
                background-color: $md-white;
            }
        }
        
        .toolbar-country{
            // width: 100%;
            // border: 2px solid black;
            // justify-content: flex-end;
        }
    }
    
}