@import './theme.scss';

.toolbar-main{
    background-color: $md-primary-dark;
    height: 40px;
    display: flex;
    // align-content: flex-end;
    // border: 2px solid black;
    // border: 2px solid black;
    
    
    .toolbar-container{
        display: flex;

        .toolbar-menu{

            .toolbar-link{
                color: $md-secondary-color;
                text-transform: uppercase;
                cursor: pointer;
                margin: 0px 5px;
                font-size: 1em;

            }
        }
        
        .toolbar-country{
            // width: 100%;
            // border: 2px solid black;
            // justify-content: flex-end;
        }
    }
    
}